In [13]:
  
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')

In [14]:
import numpy as np
import pandas as pd

In [15]:
import datetime as dt

In [16]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base #
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func #  allow our sql command to create the engine

In [17]:
engine = create_engine("postgresql://postgres:postgresql@localhost:5432/Hawaii_db")

In [18]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [19]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [20]:
['measurement','station']

['measurement', 'station']

In [21]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [22]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [23]:
prev_year = dt.date(2017,8,23) - dt.timedelta(days =365)
prev_year

datetime.date(2016, 8, 23)

In [11]:

# to get all date and precipitation from measurement
results = session.query(Measurement.date, Measurement.prcp).all()
# create a data frame with  two columns
df=pd.DataFrame(results, columns=['date', 'precipitation'])
# set the date columns as index
df.set_index(df['date'], inplace=True)
df = df.sort_index()
df.drop(columns= ['date'] , inplace= True)
#df.plot(rot=45)
df.head()

         precipitation
date
1/1/2010          0.21
1/1/2010          0.28
1/1/2010          0.15
1/1/2010          0.05
1/1/2010          0.15

In [12]:
# plot the dataframe
df.plot(df['date'], df['precipitation'])
plt.xlabel("Date")
plt.ylabel("Rain in Inches")
plt.title("Precipitation Analysis (8/24/16 to 8/23/17)")
plt.legend(["Precipitation"])
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

KeyError: 'date'

In [24]:
# display mathematical calculation
df.describe()

       precipitation
count          19103
unique           343
top                0
freq            8848

In [25]:
session.query(func.count(Station.station)).all()

[(9)]

In [26]:
# group by station

session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).
                                      desc()).all()

[('USC00519397', 3724),
 ('USC00519281', 2772),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [27]:
# find the lowest, highest, average af measurement
lowest = func.min(Measurement.tobs)
highest = func.max(Measurement.tobs)
average = func.ave(Measurement.tobs)
session.query(lowest, highest).all()
results = session.query(Measurement.tobs).filter(Measurement.station=='USC00519281').all()
df = pd.DataFrame(results, columns=['tobs'])
df
#session.query()

     tobs
0      70
1      62
2      74
3      75
4      74
5      76
6      69
7      66
8      70
9      75
10     64
11     60
12     61
13     68
14     64
15     66
16     67
17     70
18     67
19     67
20     69
21     60
22     75
23     75
24     65
25     75
26     69
27     67
28     66
29     69
...   ...
2742   72
2743   74
2744   74
2745   76
2746   80
2747   80
2748   76
2749   76
2750   76
2751   77
2752   77
2753   77
2754   82
2755   75
2756   77
2757   75
2758   76
2759   81
2760   82
2761   81
2762   76
2763   77
2764   82
2765   83
2766   77
2767   77
2768   77
2769   76
2770   76
2771   79

[2772 rows x 1 columns]

In [28]:
results = session.query(Measurement.tobs).\
filter(Measurement.station =='USC00519281').all()

df=pd.DataFrame(results, columns=['tobs'])
df

     tobs
0      70
1      62
2      74
3      75
4      74
5      76
6      69
7      66
8      70
9      75
10     64
11     60
12     61
13     68
14     64
15     66
16     67
17     70
18     67
19     67
20     69
21     60
22     75
23     75
24     65
25     75
26     69
27     67
28     66
29     69
...   ...
2742   72
2743   74
2744   74
2745   76
2746   80
2747   80
2748   76
2749   76
2750   76
2751   77
2752   77
2753   77
2754   82
2755   75
2756   77
2757   75
2758   76
2759   81
2760   82
2761   81
2762   76
2763   77
2764   82
2765   83
2766   77
2767   77
2768   77
2769   76
2770   76
2771   79

[2772 rows x 1 columns]